/*//////////Global set up//////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-color: white;
}
header, main, footer {
    width: 100%;
    height: auto;
}
:root {
    --font-size-h1: clamp(1.5rem, 2.4vw + 1rem, 3.5rem);
    --font-size-h2: clamp(0.8rem, 1.2vw + 1rem, 2.8rem);
    --font-size-h3: clamp(0.5rem, 0.7vw + 1rem, 2.5rem);
    --font-size-h4: clamp(0.25rem, 0.3vw + 1rem, 2.25rem);
    --font-size-p: clamp(0.25rem, 0.1vw + 1rem, 2.1rem);
}



/*//////////Style for big screens//////////*/
/*/////Header/////*/
/*///Navigation section///*/
/*nav:is(.logo, ul)*/
/*nav, nav .logo, nav ul*/
nav, nav :where(.logo, ul)  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    width: 100%;
    height: min(15%, 64px);
    padding: 1rem 1.5rem;

    /*Logo part*/
    & .logo {
        height: 2rem;
        font-size: var(--font-size-h4);
        color: #000;

        & p {
            font-weight: 800;           
        }

        & span {
            font-weight: 100;
            color: gray;
        }
    }

    /*Menu part*/
    & ul {
        width: auto;
        height: 2rem;
        list-style: none;

        & li {
            margin-left: 1rem;

            & a {
                font-size: var(--font-size-p);
                text-decoration: none;
                color: rgb(91, 91, 91);  

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
} 

/*///Customer start section///*/
.start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgb(210, 210, 210);
    color: rgb(65, 64, 64);  
    
    /*Image part*/
    & figure {
        width: clamp(450px, 60%, 650px);
        height: auto;
        padding: 2rem 0.75rem;
        
        & img {
            width: 100%;
            height: auto;
        }
    }

    /*Text part*/
    & article {
        width: clamp(300px, 40%, 500px);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0.75rem;

        & h1 {
            font-size: var(--font-size-h1);
            font-weight: 700;
        }
        & p {
            margin: 1.5rem 0;
            font-size: var(--font-size-p);
            font-weight: 500;
        }

        /*Button part*/
        & button {
            width: 100%;
            height: 3rem;
            padding: 0.5rem;
            border: none;
            font-size: var(--font-size-p);
            cursor: pointer;
            color: white;
            background-color: rgb(65, 64, 64);  
            background-image: linear-gradient(#ffffff,#ffffff);
            background-size: 0 100%;
            background-repeat: no-repeat;          
            transition: 0.5s;
                        
            &:hover {
                background-size: 100% 100%;
                color: black;
            }
        }
    }
}

/*/////Main/////*/
main {
    color: rgb(65, 64, 64);  
}

/*///Academy-intro section///*/
main .academy-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);

    /*Article part*/
    & article {
        width: clamp(450px, 60%, 650px);
        height: 100%;
        padding: 2rem 0.75rem;

        & figure {
            width: 100%;
            padding-bottom: 2rem;

            & img {
                width: 100%;
            }
        }

        & h2 {
            font-size: var(--font-size-h2);
            font-weight: 700;
        }

        & p {
            font-size: var(--font-size-p);
            padding: 1.5rem 0;
        }

        & .writer {
            font-size: 1rem;
            font-weight: 500;
            padding: 0;
        }
    }

    /*aside part*/
    & aside {
        width: clamp(370px, 40%, 500px);
        height: 100%;
        padding: 1rem 1.5rem 2rem 0.75rem;
        border-left: rgb(194, 194, 194) solid 1px;

        & .academy {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            padding: 1rem;

            & figure {
                width: 35%;
                height: auto;

                & img {
                    width: 100%;
                    height: auto;
                }
            }

            & div {
                width: 65%;
                padding: 1rem;

                & h3 {
                    font-size: var(--font-size-h3);
                    font-weight: 600;
                    padding-bottom: 0.5rem;
                }

                & p {
                    font-size: var(--font-size-p);
                    padding-bottom: 0.5rem;
                }

                & a {
                    font-size: var(--font-size-p);
                    text-decoration: none;
                    color: blue;
                }
            }

            &:hover {
                background-color: rgb(210, 210, 210);
                cursor: pointer;
            }
        }
    }
}

/*///Learning-path section///*/
main .learning-path {
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233);

    /*h2 part*/
    & h2 {
        font-size: var(--font-size-h2);
        text-align: center;
        width: 100%;
        height: 10%;
        padding: 2rem 0;
    }

    /*learning-container part*/
    & .learning-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2rem;
        justify-items: center;
        width: 100%;
        height: 90%;
        padding: 0 4.5rem 2rem;

        & .child {
            width: min(250px, 100%);
            background-color: rgb(255, 255, 255);
            transition: transform 0.2s ease;

            &:hover {
                transform: translateY(-1rem);
                -webkit-transform: translateY(-1rem);
                -moz-transform: translateY(-1rem);
                -ms-transform: translateY(-1rem);
                -o-transform: translateY(-1rem);
                cursor: pointer;
            }    

            & figure {
                width: 100%;
                height: 40%;

                & img {
                    width: 100%;
                    height: 100%;
                }
            }

            & article {
                width: 100%;
                height: 60%;
                text-align: start;
                padding: 1rem 1rem 1.5rem;

                & h3 {
                    font-size: var(--font-size-h3);
                    font-weight: 600;
                }

                & h4 {
                    font-size: var(--font-size-h4);
                    font-weight: 500;
                    padding: 0.5rem 0;
                }

                & p {
                    font-size: var(--font-size-p);
                }
            }
        }
        
    }
}

/*///Thesis section///*/
main .thesis {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);

    /*h2 part*/
    & h2 {        
        font-size: var(--font-size-h2);
        text-align: center;
        width: 100%;
        height: 20%;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*thesis-container part*/
    & .thesis-container {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-bottom: rgb(192, 192, 192) solid 1px;

        /*article part*/
        & article {
            width: clamp(450px, 60%, 650px);
            height: 100%;
            padding: 0 0.75rem 2rem 1.5rem;

            & video {
                width: 100%;
                height: auto;
            }

            & h3 {
                width: 100%;
                font-size: var(--font-size-h3);
                font-weight: 600;
                padding: 1.5rem 0 0.5rem 0;
            }

            & p {
                width: 100%;
                font-size: var(--font-size-p);
            }        
        }

        /*aside part*/
        & aside {
            width: clamp(370px, 40%, 500px);
            height: 100%;
            padding: 0 2rem 2rem 0.75rem;

            & .child {
                width: 100%;
                height: auto;
                padding: 1rem;
                display: flex;
                align-items: center; 

                & figure {
                    width: 35%;
                    height: auto;

                    & img {
                        width: 100%;
                        height: auto;
                    }
                }

                & div {
                    width: 65%;
                    padding-left: 1rem;

                    & h3 {
                        font-size: var(--font-size-h3);
                        font-weight: 600;
                        padding-bottom: 0.5rem;
                    }

                    & p {
                        font-size: var(--font-size-p);
                        padding-bottom: 0.5rem;
                    }
                }

                &:hover {
                    background-color: rgb(210, 210, 210);
                    cursor: pointer;
                }
            }
        }
    }
}


/*/////Footer/////*/
footer {
    width: 100%;
    height: min(10%, 60px);
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: clamp(0.25rem, 0.1vw + 0.8rem, 2.1rem);

    & p {
        font-weight: 500;
    }

    & div {
        padding: 0.5rem;

        & a {
            padding-left: 0.5rem;
            text-decoration: none;
            color: rgb(0, 0, 0);
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}



/*//////////Style for mobile screens//////////*/
ul.mobile-screens, img.mobile-screens {
    display: none;
}

@media (max-width: 500px) {

    /*/////Remove some navigation, academy-info, learning-path, thesis/////*/
    :is(section.logo, ul.big-screens, .academy-info article, img.big-screens, .learning-path .learning-container,
    .thesis .thesis-container :is(aside, article h3, article p)), footer div {
        display: none;
    }

    /*/////Show mobile navigation/////*/
    nav {
        padding: 0.5rem;
    }
    nav ul.mobile-screens {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;

        & li {
    
            & a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                padding: 5px;
                transition: all 0.2s;
    
                & img {
                    width: 100%;
                    height: auto;
                }

                &:active {
                    border-radius: 20%;
                    background-color: rgb(122, 122, 122);
                }
            }
        }        
    }

    /*/////Show mobile start section/////*/
    .start {
        flex-direction: column;
        align-items: center;

        & figure {
            width: 100%;
            padding: 0;
        }

        & article {
            width: 100%;
            padding: 2rem 1rem;

            & p {
                padding: 1rem 0;
            }
        }
    }

    /*/////Show mobile academy-info section/////*/
    main .academy-info {
        display: block;

        & aside {
            width: 100%;
            border: none;

            & .academy {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                
                & figure {
                    width: 100%;
                    height: auto;

                    & img.mobile-screens {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }

                & div {
                    width: 100%;
                    padding: 1rem;

                    & h3 {
                        font-size: var(--font-size-h2);
                        font-weight: 600;
                        padding-bottom: 0.5rem;
                    }
                }
            }
        }
    }

    /*/////Show mobile learning-path section/////*/
    main .learning-path {
        background-color: rgb(255, 255, 255);
    }

    main .learning-path h2 {
        font-size: var(--font-size-h1);
        padding: 1rem 0;
    }

    main .learning-path ul.mobile-screens {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        padding: 0 1rem 2rem;

        & li {
            width: 100%;
            height: auto;
            list-style: none;
            padding: 1rem;
            margin-bottom: 0.5rem;
            background-color: rgb(214, 214, 214);
            background-image: linear-gradient(#141414,#000000);
            background-size: 100% 0%;
            background-repeat: no-repeat;          
            transition: all 0.1s;

            & a {
                font-size: var(--font-size-h3);
                font-weight: 600;
                text-decoration: none;
                color: rgb(65, 64, 64);  
            }

            &:active {
                background-size: 100% 100%;

                & a {
                    color: rgb(255, 255, 255);
                }  
            }
        }
    }
    
    /*/////Show mobile thesis section/////*/
    main .thesis h2 {
        font-size: var(--font-size-h1);
        padding: 1rem 0;
    }
    main .thesis .thesis-container article {
        padding: 0;

        & video {
            width: 100%;
            height: auto;
        }
    }

    /*/////Show mobile footer/////*/
    footer {
        display: block;
        text-align: start;
    }
}